.main_dark {
    background: #2c2a2a;
}

.main_light {
    background: #d3d5d5;
}

.wrapper {
    margin: 0 40px 30px 40px;
}

.items_artist {
    display: flex;
    gap: 15px;
    margin-top: 40px;
    gap: 20px;

    .card_artist {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 324px;
        width: 224px;
        background-color: #ffffff2e;
        border-radius: 6px;
        font-size: 20px;
        padding: 0 20px;
    }

    .artist_img {
        width: 182px;
        height: 182px;
        border-radius: 100px;
        margin-bottom: 25px;
    }
}

.slider {
    display: flex;
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

.img_slider {
    width: 100%;
    max-width: 478px;
    height: auto;
    margin-right: 10px;
}

.swipes {
    display: flex;
    justify-content: center;
}

.browse_items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 31px;
    justify-content: space-between;

    .browse_img {
        width: 224px;
        height: 224px;
    }
}