.wrapper {
    margin: 10px 20px;
}

.friend_header {
    display: flex;
    justify-content: space-between;
}

.icons_friend {
    display: flex;
}

.icon_friend {
    width: 40px;
    height: 40px;
    margin: 10px;
    color: #fff;
}

.icon_close {
    width: 40px;
    height: 40px;
    margin: 10px;
    color: #fff;
}

.avatar_skeleton {
    display: flex;
    flex-direction: column;

    .box {
        display: flex;
        margin-bottom: 20px;
    }

    .avatar {
        color: #fff;
        width: 62px;
        height: 62px;
    }

    .skeleton_one_dark  {
        background-color:#ffffff4c;
        border-radius: 10px;
        margin: 7px;
        width: 102px;
        height: 10px;
    }

    .skeleton_one_light  {
        background-color:#0000004c;
        border-radius: 10px;
        margin: 7px;
        width: 102px;
        height: 10px;
    }

    .skeleton_dark {
        background-color:#ffffff4c;
        border-radius: 10px;
        margin: 7px;
        width: 79px;
        height: 10px;
    }

    .skeleton_light {
        background-color:#0000004c;
        border-radius: 10px;
        margin: 7px;
        width: 79px;
        height: 10px;
    }
}