.friend {
    background-color: #000;

    .wrapper {
        margin: 10px 20px;
    }

    .friend_header {
        display: flex;
        justify-content: space-between;
    }

    .title_friend {
        color: #CCCCCC;
        font-size: 20px;
        margin-top: 20px;
    }

    .icons_friend {
        display: flex;
    }

    .icon_friend {
        width: 40px;
        height: 40px;
        margin: 10px;
        color: #fff;
    }

    .icon_close {
        width: 40px;
        height: 40px;
        margin: 10px;
        color: #fff;
    }
}

.friend_description {
    color: #CCCCCC;
    font-size: 18px;
    margin: 40px 0;
}

.avatar_skeleton {
    display: flex;
    flex-direction: column;

    .box {
        display: flex;
        margin-bottom: 20px;
    }

    .avatar {
        color: #fff;
        width: 62px;
        height: 62px;
    }

    .skeleton_one  {
        background-color:#ffffff4c;
        border-radius: 10px;
        margin: 7px;
        width: 102px;
        height: 10px;

    }

    .skeleton_two, .skeleton_three {
        background-color:#ffffff4c;
        border-radius: 10px;
        margin: 7px;
        width: 79px;
        height: 10px;
    }
}