.password {
    width: 100%;
    max-width: 361px;
    margin-bottom: 27px;
    border-radius: 4px;
    background-color: #fff;
    margin-bottom: 40px;

    @media (max-width: 375px) {
      width: 90%;
    }
}