.nav {
    background-color: var(--nav);
}

nav {
    margin: 72px 30px 0 30px;
}

.icon_items {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
}

.icon_item {
    width: 32px;
    height: 32px;
}

.nav_item {
    color: rgba(var(--item),0.7);
    text-decoration: none;
}

ul div:first-child .nav_item {
    color: var(--nav-item);
}

ul div:last-child .nav_item {
    color:  var(--nav-item);
}

.nav_item_light {
    color: var(--nav);
    text-decoration: none;
}

.hr {
    border: 1px solid var(--hr);
}

.top {
    color: var(--top);
    margin: 20px 30px 18px 30px;

}

.language {
    display: flex;
    gap: 10px;
    margin: 50px 0 22px 20px;
    align-items: center;
}

.icon_lang {
    width: 24px;
    height: 24px;
    color: #fff;
}

.select_lang {
    display: flex;
    gap: 10px;
    width: 110px;
    border-radius: 27px;
    padding: 10px;
    background-color: var(--nav);
    color:var(--nav-item);
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-align: center;
}
